{# Barre du bas : 5 entrées, icône + label toujours visible. #}
{% url 'tasks:home' as home_url %}{% url 'household:week' as week_url %}{% url 'celebrations:index' as celebrations_url %}{% url 'core:menu' as menu_url %}{% url 'families:settings' as settings_url %}
<ul class="mx-auto grid h-[4.5rem] max-w-md grid-cols-5">
  {% include "parent/_nav_item.html" with key="home" label="Accueil" url=home_url icon="home" %}
  {% include "parent/_nav_item.html" with key="week" label="Semaine" url=week_url icon="week" %}
  {% include "parent/_nav_item.html" with key="celebrations" label="Fêtes" url=celebrations_url icon="gift" %}
  {% include "parent/_nav_item.html" with key="menu" label="Menu" url=menu_url icon="menu" %}
  {% include "parent/_nav_item.html" with key="settings" label="Réglages" url=settings_url icon="settings" %}
</ul>
